PORT=3000
DATABASE_PATH=./data/smart_trader.sqlite
JWT_SECRET=change-me-in-local-dev
ADMIN_EMAIL=admin@tagoption.local
ADMIN_PASSWORD=admin12345
ADMIN_NAME=Hydra Trade Admin
NEXT_PUBLIC_APP_URL=http://localhost:3000
PAYMENTS_MODE=sandbox
MPESA_CONSUMER_KEY=
MPESA_CONSUMER_SECRET=
MPESA_PASSKEY=
MPESA_SHORT_CODE=174379
PAYSTACK_PUBLIC_KEY=
PAYSTACK_SECRET_KEY=
SYSTEM_ESCROW_BTC_ADDRESS=bitcoin:BC1Q2JYAXPRTDMWVGY6E6YKX2E9K9RYSRG68DZ528W
